body {
	font-family: sans-serif;
	margin: 0
}

header {
	background-color: #448;
	display: block;
}

header h1 {
	margin: 0;
	padding: 30px;
	color: white;
	text-align: center;
}

main {
	display: flex;
}

#canvas-container {
	width: 100%;
	background-color: gray;
	padding: 10px 0;
}

.controller {
	
}

.controller-item {
	flex-grow: 1;
	padding: 20px;
}

.label-and-slider {
	display: flex;
	flex-direction: column;
}

.label-and-slider + .label-and-slider {
	margin-top: 20px;
}

canvas {
	margin: 0 auto;
	display: block;
}

footer {
	background-color: #6cc;
	display: block;
	padding: 20px;
	text-align: center;
	color: black;
}